@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Stick+No+Bills:wght@200..800&display=swap');
:root{
    --primary-color:#EEA700;
    --secondary-color:#020e10;
    --break-s:576px;
    --break-m:992px;
    --break-l:1200px;
}



*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.placeholder{
  display: none ;
}
.placeholder.active{
  display: block;
  height: 62px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color); 
  padding: 10px 20px;
  height: 50px;
  position: relative;
  margin-bottom: 0px !important;
}
.hamburger{
  display: none !important;
}
.menu-mobile{
  display: none
}
.topbar-item {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 29px;
  font-weight: bold;
  color: var(--primary-color); 
}
.select-wrapper {
  position: relative;
  width: 100px; 
  margin-left: 10px;
}

.select-wrapper select {
  
  padding: 5px 8px;
  border-radius: 30px;
  background-color: var(--primary-color);
  appearance: none; 
  -webkit-appearance: none; 
  font-size: 16px;
  
  cursor: pointer;
  font-family: Arial, sans-serif; 
}

.login a,
.register a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  transition: 0.3s;
  font-size: 22px;
}

.login a:hover,
.register a:hover {
  transform: scale(1.05);
  color: white !important;
 transition: 0.5s;
}
.menu-mobile .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.burger-title{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  padding: 20px;
  color: white;
}

.menu-mobile .close-btn:hover {
  transform: scale(1.1);
}
/* Menu Styles */
.menu {
  background-color: var(--primary-color); 
  padding: 10px 20px;
}
.menu.fixed {
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 10000;
}

.menu nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.menu nav ul li {
  padding: 5px 2px;
  margin-right: 20px;
}
.menu nav ul li:nth-child(even) {
  border-right: solid 3px var(--secondary-color);
}

.menu nav ul li a {
  display: inline-block;
  color: #1b1b1b;
  font-weight: 900;
  font-size: 25px;
  transition: transform 0.3s;
  text-decoration: none;
}

.menu nav ul li a:hover {
  transform: scale(1.09); 
}

footer{
  background-color: var(--primary-color);
}
footer .links{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}
footer .footer-img{
  width: 50%;
  background-image: url("../public/images/camera.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
}

.footer-top{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
 
}
.footer-links ul{
  list-style: none;
  margin: 20px 0px 50px 0px;
}
.footer-links ul:first-child{
  margin-right: 50px;
}
.footer-links ul li a{
  font-size: calc(22px + 0.4vw);
  text-decoration: none;
  color: black;
}

.footer-links{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}


.fot-container{
  width: 100%;
}
footer .search-container-wrap {
  display: block;
  width: 50%;
  margin: 0px;
}
footer li a:hover{
  color: white;
  transition: 0.5s;

}
footer li a{
  transition: 0.3s;
}
.topbar-item i {
  display: none;
}
.topbar-item a {
  text-decoration: none;
}
@media(width < 992px){
  .search-container {
    width: 100% !important;
}
footer .search-container-wrap {
    width: 100%;
}
  .menu-mobile.open {
      transform: translateX(0);
  }

  .title-text{
      font-size: 40px !important;
      padding-bottom: 30px;
  }
  footer .links{
      width: 100%;
      
      
  }
  .footer-links ul:first-child{
      margin-right: 0px;
  }
  .footer-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px;
  }
  .footer-links ul{
      display: flex;
      flex-direction:row;
      justify-content: center;
      margin: 10px 20px;
  }
  .footer-links ul li{
      padding: 10px 15px;
  }
  footer .footer-img{
      display: none;
  } 

  .footer-top{
      margin-left: 0px;
     
  }
 
  footer .search-container-wrap {
      width: 100%;
  }
  .movie-card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .movie-card-body button{
      margin-top: 8px;
  }

}
@media(width < 776px){
  .hamburger{
      display: flex !important;
      font-size: 40px;
      cursor: pointer;
      
      transition: 0.3s;
  }
  .hamburger:hover{
      transform: scale(1.2);
      transition: 0.3s;
  }
  .menu ul{
      display: none !important;
  }
  .menu{
      display: flex;
      flex-direction: row;
      justify-content: end;
  }
  .menu-mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in-out;
      z-index: 100000;
  }
  
  
  .menu-mobile nav ul {
      list-style: none;
      text-align: center;
  }
  
  .menu-mobile nav ul li {
      margin: 20px 0;
  }
  
  .menu-mobile nav ul li a {
      font-size: 30px;
      font-weight: bold;
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      
  }
  
  .menu-mobile nav ul li a:hover {
      color: black;
      transition: 0.3s;
      transform: scale(1.1);
  }

  
  .topbar-item i {
      display: flex;
      color: var(--primary-color);
      font-size: 25px;
      cursor: pointer;
  }
  .login,.register{
      display: none;
  }
  
}
@media(width < 576px){
  footer .links{
      width: 100%;
      
      
  }
  .footer-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px;
  }
  .footer-links ul{
      display: flex;
      flex-direction:column;
      justify-content: center;
      margin: 10px 20px;
  }
  
}

.search-container {
    
  width: calc(250px + 20vw);
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.search-container:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  border-radius: 30px;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #f0f0f0;
}
.search-container-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5%;
}
