<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Register Page</title>
    <link rel="stylesheet" href="../styles/registration.css">
    <link rel="stylesheet" href="../styles/themplate.css">
</head>
<body>
    <header>
    </header>
    <main>
        <div class="login-container">
            <div class="image-section"></div>
            <div class="form-section">
                <form class="login-form">
                    <h2>CinemaGO</h2>
                    <p>Vytvořte si účet</p>
                    <div class="form-group">
                        <label for="fullname">Jméno a Příjmení</label>
                        <input type="text" id="fullname" placeholder="Vaše jméno" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Váš email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Heslo</label>
                        <input type="password" id="password" placeholder="Vaše heslo" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Potvrďte Heslo</label>
                        <input type="password" id="confirm-password" placeholder="Potvrďte heslo" required>
                    </div>
                    <button type="submit">Registrovat se</button>
                    <p class="signup-text">Už máte účet? <a href="login.html">Přihlaste se</a></p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
